extends ../../layouts/basic.pug


block content
    each naverWebtoon in naverWebtoons
        section.wholeFinishedWebtoon
            main.main
                section.content
                    div.webtoonBox
                        div.webtoonBox__top
                            div.poster
                        div.webtoonBox__bottom
                            article.mr__title 웹툰 번호:---#{naverWebtoon.id}
                            article.mr__title #{naverWebtoon.title}
                            article.mr__score #{naverWebtoon.score}
                            article.mr__episode #{naverWebtoon.being}
                            article.mr__episode #{naverWebtoon.publish}
                            article.mr__episode #{naverWebtoon.days}