extends ../../layouts/base.pug

block content
    div.questiondetailBox
        div.questiondetailBox__img
            a(href="/")
                button home 
            h1 #{bData.title}  
            h2 작성자: #{bData.name} | 작성일: #{bData.createdAt}
        div.questiondetailBox__text
            h4 #{bData.content}
        div.questiondetailBox__button
            a.qdbtn1(href="/fqa/fqalist")  
                button 돌아가기
            a.qdbtn2(href="/fqa/fqacreate")  
                button 작성하기   
            form(action="/fqa/fqadelete", method="post") 
                input(type="hidden" name="bDataId" value=bData.id)
                input(type="submit", value="삭제하기") 